
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet"  href="{% static 'css/custom.css' %}">
    <title>SIGNUP</title>
</head>
{% block content %}
<div class="addcontainer">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<div>
    <form class="add" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
     <a class="btn btn-info" href="{% url 'filmapp:allProdCat' %}">
         <button type="button" class="btn btn-info">HOME</button>
        </a>
</form>
    <div>
        {% for m in messages %}
        {{ m }}
        {% endfor %}
    </div>
</div>



<!--<form action="{% url 'addapp:add_movie' %}" method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->

<!--    <input type="text" placeholder="Title" name="name" ><br>-->
<!--    <input type="text" placeholder="Description" name="description" ><br>-->


<!--    <input type="text" placeholder="Actors" name="actors" ><br>-->
<!--    <input type="date" placeholder="Released" name="released" ><br>-->
<!--    <input type="url" placeholder="Trailor" name="link" ><br>-->
<!--    <input type="submit">-->





<!--</form>-->


<!--{% endblock %}-->