{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{% static 'css/custom.css' %}">
    <title>Title</title>
</head>
<body class="container1">

    <form class="box" method="post">
        {% csrf_token %}
        <div>
            <h1>Delete Movie</h1>
           <p>Are you sure you want to delete "{{ movie.name}}"?</p><br>
            <div>
                <img src="{{movie.image.url}}" style="width:100px; height:100px; border:10px solid white">
            </div>

        </div>
        <br>
        <div>
            <button type="submit">YES</button>
        </div><br>
        <div>
            <a class="btn btn-info" href="{% url 'filmapp:allProdCat' %}">
         <button type="button" class="btn btn-info">NO</button>
        </a>
        </div>
    </form><br>


</body>
</html>