{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{% static 'css/custom.css' %}">
    <title>SIGNUP</title>
</head>
{% block content %}
<body class="container1">
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form class="box" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <div>
            <h1>IF YOU ARE NEW,JUST SIGN UP AND GO</h1>
            <br>
             <label for="username">Username</label>
             <input type="text" placeholder="Username" name="username" id="username" required>
        </div>
    </div>

    <div>
        <div>
             <label for="username">First Name</label>
             <input type="text" placeholder="First Name" name="first_name" id="firstname" required>
        </div>
    </div>

    <div>
        <div>
             <label for="username">Last Name</label>
             <input type="text" placeholder="Last Name" name="last_name" id="lastname" required>
        </div>
    </div>

    <div>
        <div>
            <label for="email">Email</label>
            <input type="email" placeholder="Email Id" name="email" id="email" required>
        </div>
    </div>

    <div>
        <div>
            <label for="password1">Password</label>
            <input type="password" placeholder="Password" id="password1" name="password" required>
        </div>
    </div>

    <div>
        <div>
            <label for="password2">Confirm password</label>
            <input type="password" placeholder="Confirm Password" id="password2" name="password1" required>
        </div>
    </div>
<br>
    <div>
        <div>
             <button  type="submit">Signup</button>
        </div>
    </div>
    <br>
    <div>
        <div>
            <a href="{% url 'filmapp:login' %}">Already i have an account</a>
        </div>
    </div>
    <div>
    <div>
        {% for v in messages %}
           {{ v }}
        {% endfor %}
    </div>
</div>

</form>


</body>
</html>
{% endblock %}

